<div class="footer__row">
    <div class="footer__columns">
        <h4 class="footer__header">About Metro serivce</h4>
        <div class="footer__content">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="footer__columns">
        <h4 class="footer__header">Usefull links</h4>
        <div class="footer__content">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="footer__columns">
        <h4 class="footer__header">Costumer serivce</h4>
        <div class="footer__content">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="footer__columns">
        <h4 class="footer__header">Contact</h4>
        <div class="footer__content">
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</div>
<div class="">
    <ul class="footer__social-list">
        <li class="footer__social-item"><a href="" class="icon-facebook"></a></li>
        <li class="footer__social-item"><a href="" class="icon-linkedin2"></a></li>
        <li class="footer__social-item"><a href="" class="icon-twitter"></a></li>
    </ul>
</div>