<div class="title-bar" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
    <div class="row">
        <div class="columns">
            <div class="title-bar-left">
                <a href="/" class="header__logo">
                    <img src="/public/imgs/logo.svg" alt="" class="header__logo-img">
                </a>
            </div>
            <div class="title-bar-right">
                <nav class="header__nav show-for-medium">
                    <ul class="menu">
                        <li><a href="" class="header__nav-link">About us</a></li>
                        <li><a href="" class="header__nav-link">Our solutions</a></li>
                        <li><a href="" class="header__nav-link">Join us</a></li>
                        <li><a href="#" class="header__nav-link"><b>DK</b>/UK</a></li>
                    </ul>
                </nav>
                <a href="#main-nav" class="header__menu-btn js-toggle-nav">
                    <span class="icon-bars"></span>
                    <span class="icon-close"></span>
                    <span class="show-for-medium"> Menu</span>
                </a>
            </div>
        </div>
    </div>
</div>

<nav id="main-nav" class="header__drill">
    <ul class="menu">
        <li>
            <a href="#">About us</a>
            <ul class="menu">
                <li><a class="headler__drill-link" href="#">Purpose</a></li>
                <li><a class="headler__drill-link" href="#">Ownership</a></li>
                <li><a class="headler__drill-link" href="#">Management</a></li>
                <li><a class="headler__drill-link" href="#">Financials</a></li>
                <li><a class="headler__drill-link" href="#">KPI's</a></li>
                <li><a class="headler__drill-link" href="#">CSR</a></li>
                <li><a class="headler__drill-link" href="#">History and memberships</a></li>
                <li><a class="headler__drill-link" href="#">Press</a></li>
                <li><a class="headler__drill-link" href="#">For Suppliers</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Our solutions</a>
            <ul class="menu">
                <li><a class="headler__drill-link" href="#">Underside</a></li>
                <li><a class="headler__drill-link" href="#">Underside</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Join us</a>
            <ul class="menu">
                <li><a class="headler__drill-link" href="#">Underside</a></li>
                <li><a class="headler__drill-link" href="#">Underside</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><b>DK</b>/UK</a>
        </li>
    </ul>
</nav>