@import "../../bower_components/slick-carousel/slick/slick.scss";


.carousel {
}

.carousel__item {
    position: relative;
    overflow: hidden;
    height: rem-calc(530);
    display: none;

    &:first-child {
        display: block;
    }
}

.carousel__text {
    position: absolute;
    bottom: rem-calc(30);
    color: $white;
    max-width: 80%;
    z-index: 1;

    @include breakpoint(medium) {
        @include vertical-center;
        max-width: 50%;
        margin-left: 10%;
        padding-bottom: rem-calc(40);
    }

    @include breakpoint(large) {
        max-width: 28%;
    }
}

.carousel__image {
    position: absolute;
    height: rem-calc(530);
    max-width: none;
    @include horizontal-center;
}

.carousel__header--bars {
    border-top: 5px solid $white;
    border-bottom: 5px solid $white;
    padding: rem-calc(10 15);
    margin-left: rem-calc(-20);
}

.slick-dots {
    position: relative;
    height: rem-calc(30);
    margin: rem-calc(-30 0 0);
    text-align: center;

    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $light-gray;
        border-radius: 5px;
        margin: rem-calc(5);

        &.slick-active {
            background: $primary-color;
        }

        button {
            display: none;
        }
    }
}
