@import "../settings";

.footer {
    margin-top: rem-calc(150);
    background-color: $secondary-color;
    color: $white;
    padding-bottom: rem-calc(20);
}

.footer__social-list {
    list-style-type: none;
    padding: 0;
    margin: rem-calc(50 0 0);
    text-align: center;
}

.footer__social-item {
    display: inline-block;
    margin: rem-calc(0 5);

    > a {
        display: block;
        width: rem-calc(38);
        height: rem-calc(38);
        border-radius: rem-calc(19);
        background-color: $white;
        color: $secondary-color;
        transition: background-color .4s ease-in-out;

        &:before {
            line-height: rem-calc(38);
        }

        &:hover {
            background-color: $primary-color;
        }
    }
}

.footer__row {
    @include grid-row(12, null, 1460px);

    @include breakpoint(small only) {
        padding-top: rem-calc(20);
    }
}

.footer__columns {
    padding: rem-calc(0 30);

    @include breakpoint(medium only) {
        @include grid-column(6);

        &:nth-child(3) {
            clear: left;
        }
    }

    @include breakpoint(large) {
        @include grid-column(2.6);
    }

    @include breakpoint(small only) {
        &.is-open {

            .footer__header:after {
                content: "-";
            }

            .footer__content {
                height: auto;
            }
        }
    }
}

.footer__columns:first-child {

    @include breakpoint(medium) {
        @include grid-column(6);
    }

    @include breakpoint(large) {
        @include grid-column(4.2);
    }
}

.footer__header {
    font-size: rem-calc(18);
    line-height: 1.3;
    font-weight: $global-weight-bold;
    margin: rem-calc(40 0 20);

    @include breakpoint(medium) {
        font-size: rem-calc(30);
    }

    @include breakpoint(small only) {
        margin: rem-calc(20 0);
        cursor: pointer;

        &:after {
            content: "+";
            display: block;
            float: right;
        }
    }
}

.footer__content {

    @include breakpoint(small only) {
        border-bottom: 1px solid rgba($white, .5);
        height: 0;
        overflow: hidden;

        .is-open & {
            padding-bottom: rem-calc(30);
        }
    }

    a {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

