<div id="articlesection1" class="row article">
    <div class="columns large-3 show-for-medium"  data-sticky-container>
        <nav id="sub-nav" class="article__nav sticky" data-sticky data-sticky-on="large" data-anchor="articlesection1" data-margin-top="5">
            <ul class="menu vertical">
                <li><a href="#">Purpose</a></li>
                <li><a href="#">Ownership</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="#">Financials</a></li>
                <li><a href="#">KPI's</a></li>
                <li><a href="#">CSR</a></li>
                <li><a href="#">History and memberships</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">For Suppliers</a></li>
            </ul>
        </nav>
    </div>
    <div class="columns large-9 article__content">
        <h1>Title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum fugiat in reiciendis unde cumque odio illum porro at ab, nisi deleniti esse aperiam molestias. Vero eligendi magni, perspiciatis consequuntur beatae.</p>
        <p>Debitis fugit magni vero expedita necessitatibus quia, vel, consectetur molestias sit quas facere non quam hic repellat. Debitis deserunt cum, eos harum necessitatibus asperiores fugiat quis, incidunt earum culpa, ipsam.</p>
        <p>Omnis magnam consequatur ut accusantium incidunt amet odit, similique dolorum eum recusandae doloremque dicta. Nemo exercitationem cum aperiam sapiente voluptas. Fugit ullam, distinctio fugiat excepturi vel consectetur porro, cupiditate nam?</p>
        <p>Impedit voluptatibus illum repudiandae, maxime architecto vitae accusamus iusto placeat incidunt natus cum, eveniet maiores, suscipit alias modi necessitatibus illo repellat. Sint quasi est accusamus officia quisquam soluta, blanditiis officiis.</p>
        <p>Laborum sint totam ducimus perspiciatis suscipit maiores sapiente exercitationem provident ipsam, id sed ipsum et expedita excepturi molestias nemo quidem ullam ut dolor, inventore doloribus! Numquam quod, veniam dolores praesentium?</p>
        <p>Error, totam, dignissimos ullam architecto ipsam voluptas optio? Quasi asperiores aliquam facere reprehenderit, vitae cupiditate officiis consectetur perspiciatis error deserunt ipsam, ut doloremque voluptas quis, exercitationem. Fugit, libero perferendis laudantium.</p>
        <p>Expedita molestiae, laborum dolorem obcaecati quisquam laboriosam quidem accusantium totam quaerat rerum inventore, quos ab quia esse aut! Excepturi quisquam ut, perferendis eum, in incidunt dolores illum nobis! Assumenda, quod.</p>
        <p>Molestiae atque iusto eos aliquid facere officiis repudiandae delectus expedita ducimus obcaecati, laborum, pariatur commodi iste sequi. Hic tempora, reprehenderit nihil sed optio, culpa voluptatibus harum quisquam, beatae excepturi perferendis.</p>
        <p>Tempora fugiat aperiam, odio expedita voluptatem, consequatur magni animi aliquid obcaecati, facere eveniet eaque vitae saepe soluta excepturi ut ipsum asperiores veniam libero! At illo commodi voluptatem, ex modi laborum.</p>
        <p>Quaerat debitis adipisci culpa labore eum reprehenderit fugit qui accusantium eos laboriosam. Commodi quis ipsa ut, ullam voluptas. Possimus, officia magnam unde repudiandae maiores laudantium nemo dolores ducimus earum doloribus.</p>
        <p>lorem ipsum dolor sit amen</p>
    </div>
</div>