<div class='cookie'>
    <div class='row'>
        <div class="medium-10 large-11 columns">
            <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim, quis nostrud exercitation nisi <a href='#'>Metro Service’s cookie policy.</a>
            </p>
        </div>
        <div class="medium-2 large-1 columns">
            <a href="#" class="button cookie__close js-close">OK!</a>
        </div>
    </div>
</div>