<div class="row small-collapse medium-uncollapse entrance">
    <div class="columns">
        <div class="entrance__wrapper theme__bg theme--green">
            <div class="entrance__text">
                <h2>Title</h2>
                <p>Lorem ipsum</p>
                <a href="#" class="cta cta--nohover">
                    <span class="show-for-sr">Link navn</span>
                    <span class="icon-Pil"></span>
                </a>
            </div>
            <div class="entrance__img-wrapper">
                <img class="entrance__img" src="/public/imgs/temp/contentimg.jpg" alt="Lorem ipsum">
            </div>
        </div>
    </div>
</div>

<div class="row small-collapse medium-uncollapse entrance entrance--flipped">
    <div class="columns">
        <div class="entrance__wrapper theme__bg theme--green">
            <div class="entrance__img-wrapper">
                <img class="entrance__img" src="/public/imgs/temp/contentimg.jpg" alt="Lorem ipsum">
            </div>
            <div class="entrance__text">
                <h2>Title</h2>
                <p>Lorem ipsum</p>
                <a href="#" class="cta cta--nohover">
                    <span class="show-for-sr">Link navn</span>
                    <span class="icon-Pil"></span>
                </a>
            </div>
        </div>
    </div>
</div>