<div class="row profile">
    @@for (var i = 1; i < 4; i++) {
    <div class="medium-6 large-4 columns">
        <div class="profile__item">
            <img src="/public/imgs/temp/profile.jpg" alt="" class="profile__img">
            <div class="profile__text">
                <strong>Name`+i+`</strong><br />
                <span>Position`+i+`</span><br />
                <a href="mailto:name@metroservice.dk">name@metroservice.dk</a><br />
                <a href="" class="profile__social-link icon-linkedin2">
                    <span class="show-for-sr">Name`+i+`</span>
                </a>
            </div>
        </div>
    </div>
    }
</div>