<div class="row quickentrance">
    @@for (var i = 1; i< 10; i++) { 
        <div class="columns medium-6 large-4">
            <a class="quickentrance__link-wrapper" href="#">
                <div class="quickentrance__text">
                    <h3>Title`+i+`</h3>
                    <p>lorem ipsum dolor sit amen</p>
                    <p>
                        <span class="cta">
                            <span class="show-for-sr">Link navn</span>
                            <span class="icon-Pil"></span>
                        </span>
                    </p>
                </div>
            </a>
        </div>
    }
</div>