<div class="row video">
    <div class="columns large-10 large-push-1">
        <div class="video__wrapper">
            <img src="/public/imgs/temp/video.jpg" alt="" class="video__img">
            <a href="#some-random-player-id" data-video="DRJ6dioC49I" class="cta cta--play cta--white video__link js-video-link">
                <span class="show-for-sr">Link navn</span>
            </a>
            <div id="some-random-player-id" class="video__container">her kommer videoen</div>
        </div>

        <div class="video__text">
            <h4 class="video__title">Title</h4>
            <p>
                Lorem ipsum <br />
                <small>Lorem ipsum</small>
            </p>
            
        </div>
    </div>
</div> 